.row {
  padding: 20px 0;
}

.box {
  height: 200px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.box-h {
  display: block;
  height: 200px;
  width: 100%;
  overflow: scroll;
}

.item-h {
  height: 20px;
  width: 100%;
}

.item {
  flex: 0 0 auto;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  width: 40px;
}


@keyframes bounce-top {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

@keyframes bounce-bottom {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes bounce-left {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes bounce-right {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

