<h1>Virtual Scroll</h1>
<hr>

<div class="row">
  <div class="col">
    <button class="btn btn-primary"
      (click)="goToEnd()">
      Go to the end
    </button>
  </div>
  <div class="col text-center">
    <button class="btn btn-warning"
      (click)="goToStart()">
      Go to start
    </button>
  </div>
  <div class="col text-right">
    <button class="btn btn-secondary"
      (click)="goToMiddle()">
      Go to middle
    </button>
  </div>
</div>

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">
  <div class="list-group-item" *cdkVirtualFor="let person of persons; let i = index; let count = count">
    Item {{ i }} / {{ count}}
  </div>
</cdk-virtual-scroll-viewport>

<div class="box" (scroll)="scrollEvent($event, 'horizontal')">
  <div class="item"
  [@bounceRight]="bounceRight ? 'finish': 'start'"
  [@bounceLeft]="bounceLeft ? 'finish': 'start'"
    *ngFor="let obj of objects; let i = index;">
    ITEM {{ i }}
  </div>
</div>

<div class="box-h" (scroll)="scrollEvent($event)">
  <div class="item-h"
    [@bounceTop]="bounceTop ? 'finish': 'start'"
    [@bounceBottom]="bounceBottom ? 'finish': 'start'"
    *ngFor="let obj of objects; let i = index;">
    ITEM {{ i }}
  </div>
</div>

